# Environment variables
.env
.claude
# Docker volumes
docker-volumes/

# Gradle
.gradle/
build/
!**/src/**/build/

# IntelliJ / IDE
.idea/
*.iml
*.iws
.vscode/

# Systemowe
.DS_Store
Thumbs.db

# Spring Boot / Aplikacja
*.jar
*.war
.env.local

# Logi
*.log
