spring:
  application:
    name: user_service

  # PostgreSQL Configuration
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5433}/${POSTGRES_DB:electic_shop_db}
    username: ${POSTGRES_USER:electic_user}
    password: ${POSTGRES_PASSWORD:electic_password}
    driver-class-name: org.postgresql.Driver

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # Flyway Configuration
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  # Redis Configuration
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}
    refresh-expiration: ${JWT_REFRESH_EXPIRATION}
  security:
    hmac-secret: ${HMAC_SECRET}
  mail:
    from: ${MAIL_FROM}
    password-reset:
      subject: ${PASSWORD_RESET_SUBJECT}
      expiry-minutes: ${PASSWORD_RESET_EXPIRY_MINUTES}
    email-verification:
      subject: ${EMAIL_VERIFICATION_SUBJECT}
      expiry-minutes: ${EMAIL_VERIFICATION_EXPIRY_MINUTES}
  url:
    front: ${APP_BASE_URL}