server:
  port: 8087

spring:
  application:
    name: inventory_service

  datasource:
    url: jdbc:postgresql://localhost:5433/electric_shop_db
    username: electric_user
    password: electric_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: inventory

  # Virtual Threads Configuration
  threads:
    virtual:
      enabled: true

  # --- KAFKA CONFIGURATION ---
  kafka:
    bootstrap-servers: localhost:9092

    # Producer (wysyłanie eventów)
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true

    # Consumer (odbieranie eventów)
    consumer:
      group-id: inventory-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    table: inventory_schema_version
    schemas: inventory
    default-schema: inventory
    create-schemas: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

# gRPC Server Configuration
grpc:
  server:
    port: 9093

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
